<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Bus</title>
    <link rel="stylesheet" href="../public/stylesheets/style2.css">
</head>
<body>
    <div class="container">
        <h2>Find Bus</h2>
        <input type="text" id="busNumber" placeholder="Enter bus number">
        <button onclick="findBus()">Find Bus</button>
        <div id="busDetails"></div>
    </div>

    <script src="../script.js"></script>
</body>
</html>
